<div class="container index py-5">
  <img class="mb-3" src="{{ image }}" />
  <h1>{{ title }}</h1>
  <p>{{ paragraph }}</p>
  <a href="{{ adminUrl }}" class="btn btn-primary mt-2">{{ button }}</a>
</div>

